.wrapper {
    width: 250px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.box1 {
    height: 70px;
    width: 70px;
    background: blue;
    border: 5px solid #FFFFFF;
    float: left;
}

.box2 {
    height: 70px;
    width: 70px;
    background: gold;
    border: 5px solid #FFFFFF;
    float: left
}

.box3 {
    height: 70px;
    width: 70px;
    background: red;
    border: 5px solid #FFFFFF;
    float: left;
}

.box4 {
    height: 70px;
    width: 70px;
    background: green;
    border: 5px solid #FFFFFF;
    float: left;
}

.box5 {
    height: 70px;
    width: 70px;
    background: black;
    border: 5px solid #FFFFFF;
    float: left;
}

.box6 {
    height: 70px;
    width: 70px;
    background: orange;
    border: 5px solid #FFFFFF;
    float: left;
}

.box7 {
    height: 70px;
    width: 70px;
    background: purple;
    border: 5px solid #FFFFFF;
    float: left;
}

.box8 {
    height: 70px;
    width: 70px;
    background: coral;
    border: 5px solid #FFFFFF;
    float: left;
}

.box9 {
    height: 70px;
    width: 70px;
    background: violet;
    border: 5px solid #FFFFFF;
    float: left;
}